<section id="core-values" class="relative w-full flex justify-center px-5 md:px-10 mt-20 md:mt-16">

    <!-- container -->
    <div class="relative w-full max-w-custom1 border-4 rounded-xl bg-white bg-opacity-70 backdrop-blur px-3 md:px-7">

        <div class="swiper-slide justify-center items-center flex flex-col /md:flex-row">

            <!-- text container -->
            <div class="relative LeftCont /w-full /max-w-xl py-10 md:py-16 px-5 md:px-0 md:pr-5 flex flex-col items-center justify-center space-y-5">

                <div class="flex flex-col items-center text-center">
                    <span class="subheading">core values</span>
                    <h2 class="w-full max-w-lg">Guiding Principles that Shape Our Journey</h2>
                </div>

                <p class="w-full max-w-lg text-center">
                    These core values shape Playtopia's identity and guide our commitment to providing a place where families can create moments of joy, connection, and wonder.
                </p>
                <!-- <a href="#" class="ctaBtn">Book now</a> -->

            </div>


            <!-- value grid -->
            <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-5 pb-10">

                <!-- grid-items -->
                <div class="grid-item">
                    <h4>Joyful Creativity</h4>
                    <p>We believe in the magic of imagination and the power of creativity to inspire boundless joy. We foster an environment that encourages both children and adults to explore, dream, and play.</p>
                </div>

                <div class="grid-item">
                    <h4>Family Connections</h4>
                    <p>At the heart of Playtopia is the belief that family bonds are strengthened through shared experiences. We strive to create opportunities for families to connect, laugh, and create lasting memories together.</p>
                </div>

                <div class="grid-item">
                    <h4>Safety First</h4>
                    <p>We hold the safety and well-being of every child and guest in the highest regard. Our commitment to maintaining a secure and supervised environment ensures that everyone can enjoy our activities with peace of mind.</p>
                </div>

                <div class="grid-item">
                    <h4>Inclusivity</h4>
                    <p>Playtopia is a place where every child is celebrated and every family is welcome. We embrace diversity and create an inclusive space where everyone can feel comfortable expressing themselves.</p>
                </div>

                <div class="grid-item">
                    <h4>Exceptional Quality</h4>
                    <p>From the design of our attractions to the experience we provide, we are dedicated to delivering excellence. We take pride in our attention to detail and commitment to offering top-tier entertainment.</p>
                </div>

                <div class="grid-item">
                    <h4>Memories in the Making</h4>
                    <p>We understand that life's most cherished moments are often the simplest ones. We create opportunities for families to create memories that will be treasured for years to come.</p>
                </div>

                <div class="grid-item">
                    <h4>Continuous Innovation</h4>
                    <p>Playtopia is a hub of discovery and excitement. We constantly seek new ways to evolve, introducing innovative activities and experiences that keep the sense of wonder alive.</p>
                </div>

                <div class="grid-item">
                    <h4>Community Engagement</h4>
                    <p>We believe in giving back to the communities we serve. Through partnerships, events, and support initiatives, we aim to positively impact the lives of children and families beyond our playcenter.</p>
                </div>
                
                <div class="grid-item">
                    <h4>Environmental Responsibility</h4>
                    <p>Our commitment extends to the world around us. We take steps to minimize our environmental footprint and inspire future generations to care for the planet.</p>
                </div>

            </div>

        </div>
    </div>

</section>