<section id="hero" class="relative w-full flex justify-center px-5 md:px-10">

    <!-- container -->
    <div class="relative w-full max-w-custom1 border-4 rounded-xl bg-white bg-opacity-70 backdrop-blur   md:px-7">

        <div class="swiper-slide justify-between flex flex-col md:flex-row" style="display: flex;">

            <!-- text container -->
            <div class="relative LeftCont w-full /max-w-xl py-10 md:py-16 px-5 md:px-0 md:pr-5 flex flex-col items-center justify-center space-y-5">

                <div class="flex flex-col space-y-2">
                    <h1>What is</h1>
                    <!-- <span class="subheading">Unleash Smiles and Adventure</span> -->
                </div>
                <div class="w-[70%] md:w-72">
                    <img src="/svg/brand/playtopiaLogo.svg" alt="">
                </div>

                <p class="w-full max-w-lg text-center">
                    Playtopia is a vibrant wonderland designed to ignite your child's imagination and thrill their senses. 
                    With a diverse range of activities and attractions, we create a haven where laughter, learning, and unforgettable moments come to life.
                </p>
                <a href="#">Book Now</a>

            </div>

            <!-- second container -->
            <!-- <div class="RightCont md:py-10 md:pr-10    absolute md:relative 
            top-0 md:top-auto 
            left-0 md:left-auto 
            w-full h-full md:w-auto md:h-auto 
            -z-10 md:z-auto">
                <div class="relative w-full h-full md:h-auto md:w-96 overflow-hidden rounded-lg md:rounded-xl">
                    <img src="public/img/heroBanner/banner1.jpg" class="w-full h-full md:h-auto object-cover" alt="banner1pic">
                </div>
            </div> -->
        </div>
    </div>

</section>