<section id="missionNdVision" class="relative w-full flex justify-center px-5 md:px-10 mt-20 md:mt-16">

    <!-- container -->
    <div class="relative w-full max-w-custom1 pb-10 grid grid-cols-1 md:grid-cols-2 gap-7">

        <!-- mission -->
        <div class="relative flex flex-col items-center py-7 space-y-5                 border-4 rounded-xl bg-white bg-opacity-70 backdrop-blur px-7">

            <h2 class="w-full max-w-lg text-center">Our Mission at Playtopia</h2>

            <p class="w-full max-w-lg text-center">
                At Playtopia, our unwavering commitment is to provide a safe and 
                captivating environment where children can explore, learn, and create 
                cherished memories. We strive to nurture their curiosity, encourage social 
                interaction, and inspire endless smiles through an array of innovative and 
                exciting activities. By blending imagination with adventure, we aim to be the 
                destination where every visit translates into laughter-filled moments and shared family experiences."**
            </p>
        </div>

        <!-- vision -->
        <div class="relative flex flex-col items-center py-7 space-y-5                 border-4 rounded-xl bg-white bg-opacity-70 backdrop-blur px-7">

            <h2 class="w-full max-w-lg text-center">Our Vision at Playtopia</h2>

            <p class="w-full max-w-lg text-center">
                We envision Playtopia as a transformative space that sets the 
                gold standard for family entertainment. Through continuous innovation 
                and a deep understanding of children's needs, we aim to create an oasis 
                where every child discovers the magic of unbridled imagination, every parent 
                relishes in shared moments, and every visitor leaves with a heart full of joy. 
                We aspire to be the beacon of playtime excellence, enriching lives and fostering connections that stand the test of time."**
            </p>
        </div>

    </div>

</section>