<section id="story" class="relative w-full flex justify-center px-5 md:px-10 mt-20 md:mt-16">

    <!-- container -->
    <div class="relative w-full max-w-custom1 border-4 rounded-xl bg-white bg-opacity-70 backdrop-blur px-3 md:px-7">

        <div class="swiper-slide justify-between flex flex-col items-start md:flex-row" style="display: flex;">

            <!-- text container -->
            <div class="relative LeftCont w-full /max-w-xl py-10 md:py-16 px-5 md:px-0 md:pr-5 flex flex-col items-start justify-center space-y-5">

                <div class="flex flex-col">
                    <span class="subheading">Our story</span>
                    <h2 class="w-full max-w-lg">Celebrating Joyful Moments at Playtopia</h2>
                </div>
                <!-- <div class="w-[70%] md:w-72">
                    <img src="public/svg/brand/playtopiaLogo.svg" alt="">
                </div> -->

                <p class="w-full max-w-lg">
                    At Playtopia, our story is one of celebration, shared laughter, and the joy that comes with bringing people together. It all began with a vision to create a unique playcenter where parents could orchestrate unforgettable parties for their beloved children. The dream was to craft an environment that combined play, imagination, and cherished memories into one extraordinary experience.
                </p>
                <p class="w-full max-w-lg">
                    As the concept took shape, our team dedicated themselves to designing party packages that would transform special occasions into magical moments. From birthdays to milestones, Playtopia's founders envisioned a space where parents could effortlessly organize events that would be etched in the hearts of both children and their guests.
                </p>
                <p class="w-full max-w-lg">
                    Countless brainstorming sessions led to the inclusion of a diverse range of activities – from the exuberance of the Trampoline to the immersive charm of the Pretend Play area. The centerpiece, the Donut Slide, became synonymous with laughter and excitement, embodying the spirit of Playtopia's parties.
                </p>
                <p class="w-full max-w-lg">
                    With meticulous attention to detail, Playtopia opened its doors to families seeking an exceptional way to celebrate. The result was an overwhelming response – parents embraced the concept wholeheartedly, and children reveled in the joy of having a party tailored to their preferences.
                </p>
                <p class="w-full max-w-lg">
                    Each celebration at Playtopia became a chapter in our story, a testament to the power of play and connection. The resounding laughter, the delighted expressions, and the camaraderie shared in our playcenter reinforced the vision that sparked it all. Today, as we continue to host parties that weave magic into memories, Playtopia stands as a place where celebrations become legendary, and where families create bonds that last a lifetime.
                </p>
                <a href="#" class="ctaBtn">Let's Connect</a>

            </div>

            <!-- second container -->
            <div class="sticky w-full left-0 md:top-[25%] md:my-10">
                <div class="relative w-full h overflow-hidden rounded-lg md:rounded-xl">
                    <img src="/svg/about/storyIllus.svg" class="w-full h-full md:h-auto object-cover" alt="banner1pic">
                </div>
            </div>

        </div>
    </div>

</section>