---
import Layout from "../layouts/Layout.astro";
---
<Layout title="404 - page not found | Playtopia" description="the page you are currently trying to access is unavailable as of momment" currentTab={0} pageOgType="website">
    <section id="contact" class={`relative w-full flex justify-center px-5 md:px-10`}>

        <!-- container -->
        <div class={`relative w-full max-w-custom1 py-14 mb-10 flex flex-col    items-center             border-4 rounded-xl bg-white bg-opacity-70 backdrop-blur px-5 md:px-7`}>

            <div class="w-[70%] md:w-72">
                <img src="/svg/brand/playtopiaLogo.svg" alt="">
            </div>
            <h1 class="w-full text-center text-mPink-400">404</h1>
            <h4 class="font-Grandstander">page not found</h4>
            <a href="/" class="ctaBtn mt-5">go back to homepage</a>

        </div>
    
    </section>
</Layout>