---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Thank You | Playtopia" description="Thank You dear patreon for filing the contact form for reaching us" pageOgType="website">
    <section id="contact" class={`relative w-full flex justify-center px-5 md:px-10`}>

        <!-- container -->
        <div class={`relative w-full max-w-custom1 py-14 mb-10 flex flex-col    items-center space-y-5 text-center             border-4 rounded-xl bg-white bg-opacity-70 backdrop-blur px-5 md:px-7`}>

            <div class="w-[70%] md:w-72">
                <img src="/svg/brand/playtopiaLogo.svg" alt="">
            </div>
            <h1 class="w-full max-w-lg text-mPink-400 ">Thank You for Reaching Out to Us!</h1>

            <p class="w-full max-w-lg">Your message has been received, and we appreciate you taking the time to contact us. At Playtopia, your inquiries and feedback are valuable to us. Our team is eager to assist you and will get back to you as soon as possible.</p>

            <p class="w-full max-w-lg">In the meantime, feel free to explore our website to discover more about our playcenter and the exciting experiences we offer. We can't wait to be a part of your journey to fun, laughter, and unforgettable memories.</p>
            <div class="flex space-x-3">
                <a href="/" class="ctaBtn mt-5">Go back to Homepage</a>
                <a href="/gallery" class="ctaBtn mt-5">Visit Memories</a>
            </div>
            <p class="w-full max-w-lg">Thank you for considering Playtopia for your family's adventures. We look forward to the opportunity to serve you!</p>

        </div>
    
    </section>
    <script>
        import JSConfetti from 'js-confetti'

        const jsConfetti = new JSConfetti()

        jsConfetti.addConfetti({
            emojis: ['🌸'],
        })
    </script>
</Layout>