---
function padTo2Digits(num:number) {
  return num.toString().padStart(2, '0');
}

const date = new Date();

const day = date.getDate();
const month = date.getMonth();
const year = date.getFullYear();

const tomorrow = year+"-"+padTo2Digits(month)+"-"+padTo2Digits(day+1)
const max = year+"-"+month+"-"+(day+30)
---
<div class="pop-up-container hidden fixed top-0 left-0 w-full h-screen z-50">
    <div class="absolute top-0 left-0 bg-mCyan-400 bg-opacity-30 w-full h-full" onclick="closePopUp()"></div>
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 border-4 w-full md:w-auto rounded-xl bg-white bg-opacity-70 backdrop-blur md:px-5 md:py-5">

        <!-- close btn -->


        <!-- head -->

        <!-- form -->
        <div class="quote-form w-full">

            <div class="">

                <button style="
                    position: absolute;
                    top: 25px;
                    right: 30px;
                    background-color: unset;
                    width: 35px;
                    height: 35px;
                    border-radius: 50px;
                " onclick="closePopUp()">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                        stroke="currentColor"
                        style="width: 30px; height: 30px; color: #121212; position: absolute; top:50%;left:50%;transform:translate(-50%,-50%)">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
                
            </div>

            <div class="w-full h-full flex">
                <form class="relative w-full max-w-lg py-10 px-7 md:px-10 border-4 border-mPink-400 rounded-xl grid gap-5" method="post" action="/thanks.php">

                    <h2>
                        Post a quick enquiry
                    </h2>

                    <div class="grid">
                        <label for="" class="text-xs font-bold pl-4 mb-2">Your Ward's Name</label>
                        <input type="text" name="name" class="border py-2 px-4 rounded-lg border-mgray-600 w-full" placeholder="ex. Tanmay" required>
                    </div>

                    <div class="grid">
                        <label for="" class="text-xs font-bold pl-4 mb-2">Gardian's Name</label>
                        <input type="text" name="parentName" class="border py-2 px-4 rounded-lg border-mgray-600 w-full" placeholder="Rahul" required>
                    </div>

                    <div class="grid">
                        <label for="" class="text-xs font-bold pl-4 mb-2">Gardian's Email</label>
                        <input type="email" name="email" class="border py-2 px-4 rounded-lg border-mgray-600 w-full" placeholder="rahul@example.com" required>
                    </div>

                    <div class="grid">
                        <label for="" class="text-xs font-bold pl-4 mb-2">Gardian's Phone</label>
                        <input type="tel" name="phone" class="border py-2 px-4 rounded-lg border-mgray-600 w-full" placeholder="+91 0123456789" required>
                    </div>

                    <div class="flex items-center">
                        <label for="" class="text-xs font-bold pl-4 mr-4">Your Ward's Age</label>
                        <select name="age" id="" class="border rounded-lg py-2 px-4 border-mgray-600 w-full" required>
                            <option value="" selected hidden disabled>--choose age--</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>

                    <div class="flex items-center">
                        <label for="" class="text-xs font-bold pl-4 mr-4">Your Ward's Date of Birth</label>
                        <input type="date" name="date" placeholder="dd-mm-yyyy" min={tomorrow} max={max} value={tomorrow} required class="border py-2 px-4 rounded-lg border-mgray-600 w-full">
                        <span class="validity"></span>
                    </div>

                    <div class="grid">
                        <input type="submit" name="submit" class="border py-2 px-4 rounded-lg border-transparent bg-mYellow-400 font-semibold cursor-pointer" placeholder="ex. Rahul">
                    </div>

                </form>
            </div>

        </div>

    </div>
</div>

<script is:inline>
    const popUpContainer = document.getElementsByClassName('pop-up-container')[0];
    const btns = document.getElementsByClassName('popupbtns');
    function closePopUp() {
        popUpContainer.style.display = 'none';
    }
    function openPopUp() {
        popUpContainer.style.display = 'block';
    }
</script>