<section id="amenitiesAndActivities" class="relative w-full flex justify-center px-5 md:px-10 mt-20 md:mt-16">

    <!-- container -->
    <div class="relative w-full max-w-custom1 h-1/2pb-10 grid grid-cols-1 md:grid-cols-2 gap-7">

        <!-- amenities -->
        <div class="relative flex flex-col items-center py-7                 border-4 rounded-xl bg-white bg-opacity-70 backdrop-blur px-7">

            <h2 class="w-full max-w-lg text-center"><span class="high decoration-mYellow-400">Amenities</span> Available</h2>

            <!-- circle container -->
            <div class="relative w-full px-10 pt-20 flex justify-center">

                <!-- ring circle -->
                <div class="relative w-full lg:w-3/4 aspect-square rounded-full border-4">

                    <div class="absolute left-1/2 -translate-x-1/2 top-0 -translate-y-1/2 flex flex-col items-center p-3 bg-white border-[3px] rounded-md border-mCyan-400 lg:w-auto w-full">
                        <div class="w-10">
                            <img src="/svg/icons/wifi_748151.svg" alt="">
                        </div>
                        <h4 class="text-center">High Speed Wifi</h4>
                    </div>
                    <div class="absolute left-0 -translate-x-1/2 bottom-1/4 flex flex-col items-center p-3 bg-white border-[3px] rounded-md border-mYellow-400">
                        <div class="w-10">
                            <img src="/svg/icons/parking_708949.svg" alt="">
                        </div>
                        <h4 class="text-center">Valet Parking</h4>
                    </div>
                    <div class="absolute right-0 translate-x-1/2 bottom-1/4 flex flex-col items-center p-3 bg-white border-[3px] rounded-md border-mPink-400">
                        <div class="w-10">
                            <img src="/svg/icons/fork_1046857.svg" alt="">
                        </div>
                        <h4 class="text-center">Appetizing Food</h4>
                    </div>
                    
                </div>

                
            </div>
        </div>

        <!-- activities -->
        <div class="relative flex flex-col items-center py-7                 border-4 rounded-xl bg-white bg-opacity-70 backdrop-blur px-7">

            <h2 class="w-full max-w-lg text-center"><span class="high decoration-mPink-400">Activities</span> we Offer</h2>

            <!-- activities grid -->
            <ul class="grid grid-cols-2 md:grid-cols-3 gap-5 activityGrid mt-10" >
                <li class="flex">
                    <a href="#" class="">Ball pool</a>
                </li>
                <li class="flex">
                    <a href="#" class="">Trampoline</a>
                </li>
                <li class="flex">
                    <a href="#" class="">Donut slide</a>
                </li>
                <li class="flex">
                    <a href="#" class="">Zipline</a>
                </li>
                <li class="flex">
                    <a href="#" class="">Ball shower</a>
                </li>
                <li class="flex">
                    <a href="#" class="">Projection wall</a>
                </li>
                <li class="flex">
                    <a href="#" class="">Pretend play</a>
                </li>
                <li class="flex">
                    <a href="#" class="">Wall climbing</a>
                </li>
                <li class="flex">
                    <a href="#" class="">Sand pit</a>
                </li>
                <li class="flex">
                    <a href="#" class="">Bumper cars</a>
                </li>
                <li class="flex">
                    <a href="#" class="">Arcade games</a>
                </li>
                <li class="flex">
                    <a href="#" class="">VR games</a>
                </li>
            </ul>
        </div>

    </div>

</section>