---
---
<section id="hero" class="relative w-full flex justify-center px-5 md:px-10">

    <!-- container -->
    <div class="relative w-full max-w-custom1 md:border-4 md:rounded-xl bg-white bg-opacity-70 backdrop-blur md:px-7">
        
        <!-- Slider main container -->
        <div class="HeroSwiper py-10 md:py-0 w-full h-full overflow-hidden">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper /overflow-x-hidden">
                <!-- Slides -->
                <div class="swiper-slide justify-between" style="display: flex;">

                    <!-- text container -->
                    <div class="relative LeftCont w-full max-w-xl py-16 flex flex-col items-start justify-center space-y-5">

                        <div class="w-[70%] md:w-72">
                            <img src="/svg/brand/playtopiaLogo.svg" alt="">
                        </div>

                        <div class="flex flex-col space-y-2">
                            <h1>A World of <span class="high decoration-mPurple-400">Imagination</span> and <span class="high decoration-mYellow-400">Thrills</span></h1>
                            <span class="subheading heroS">Unleash Smiles and Adventure</span>
                        </div>
                        <p>
                            Step into Playtopia, a realm where imagination takes flight and laughter fills the air. 
                            Our vibrant playcenter is a dreamland of endless excitement, where every corner is a gateway to joy.
                        </p>
                        <a href="#">Book Now</a>

                    </div>

                    <!-- second container -->
                    <div class="RightCont md:py-10 md:pr-10">
                        <div class="relative w-full h-full md:h-auto md:w-96 overflow-hidden rounded-lg md:rounded-xl">
                            <img src="/img/heroBanner/banner1.jpg" class="w-full h-full md:h-auto object-cover" alt="banner1pic">
                        </div>
                    </div>
                </div>

                <div class="swiper-slide justify-between" style="display: flex;">

                    <!-- text container -->
                    <div class="relative LeftCont w-full max-w-xl py-16 flex flex-col items-start justify-center space-y-5">

                        <div class="w-[70%] md:w-72">
                            <img src="/svg/brand/playtopiaLogo.svg" alt="">
                        </div>

                        <div class="flex flex-col space-y-2">
                            <h1>Dive into <span class="high decoration-mCyan-400">Adventure</span> at <span class="high decoration-mPurple-400">Playtopia</span> - Activities Galore!</h1>
                            <span class="subheading heroS">Fun Beyond Expectations</span>
                        </div>
                        <p>
                            Get ready for a day packed with unforgettable moments.
                             Experience the exhilaration of the Zipline, the whimsy of Pretend Play, and the thrills of Wall Climbing.
                        </p>
                        <a href="#">Book Now</a>

                    </div>

                    <!-- second container -->
                    <div class="RightCont md:py-10 md:pr-10">
                        <div class="relative w-full h-full md:h-auto md:w-96 overflow-hidden rounded-lg md:rounded-xl">
                            <img src="/img/heroBanner/banner1.jpg" class="w-full h-full md:h-auto object-cover" alt="banner1pic">
                        </div>
                    </div>
                </div>

                <div class="swiper-slide justify-between" style="display: flex;"> 

                    <!-- text container -->
                    <div class="relative LeftCont w-full max-w-xl py-16 flex flex-col items-start justify-center space-y-5">

                        <div class="w-[70%] md:w-72">
                            <img src="/svg/brand/playtopiaLogo.svg" alt="">
                        </div>

                        <div class="flex flex-col space-y-2">
                            <h1>Where <span class="high decoration-mPink-400">Imagination</span> Knows No Bounds</h1>
                            <span class="subheading heroS">A Wonderland for Explorers</span>
                        </div>
                        <p>
                            At Playtopia, adventure is just a step away. Watch as your little ones explore the enchanted world of the Ball Shower, create stories in the Projection Wall's magic, and race around the Bumper Cars.
                        </p>
                        <a href="#">Book Now</a>

                    </div>

                    <!-- second container -->
                    <div class="RightCont md:py-10 md:pr-10">
                        <div class="relative w-full h-full md:h-auto md:w-96 overflow-hidden rounded-lg md:rounded-xl">
                            <img src="/img/heroBanner/banner1.jpg" class="w-full h-full md:h-auto object-cover" alt="banner1pic">
                        </div>
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div id="hS-pagi" class="swiper-pagination"></div>
        
            <!-- If we need navigation buttons -->
            <!-- <div class="swiper-button-prev left-auto right-0"></div> -->
            <div class="absolute top-10 md:top-1/2 md:-translate-y-1/2 right-0 z-10 cursor-pointer rounded-tr-lg md:rounded-tr-none md:rounded-lg overflow-hidden">
                <!-- right -->
                <div class="bg-mPurple-400 text-white px-4 py-6 HeroSwiper-button-next">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                        <path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 011.06-1.06l7.5 7.5z" clip-rule="evenodd" />
                    </svg>
                </div>
                <!-- left -->
                <div class="bg-mPurple-800 text-white px-4 py-6 HeroSwiper-button-prev">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                        <path fill-rule="evenodd" d="M7.72 12.53a.75.75 0 010-1.06l7.5-7.5a.75.75 0 111.06 1.06L9.31 12l6.97 6.97a.75.75 0 11-1.06 1.06l-7.5-7.5z" clip-rule="evenodd" />
                    </svg>
                </div>
            </div>
            <!-- <div class="absolute top-1/2 -translate-y-1/2 right-0 z-50 HeroSwiper-button-prev">left</div> -->
            <!-- <div class="swiper-button-next"></div> -->
        
            <!-- If we need scrollbar -->
            <!-- <div class="swiper-scrollbar"></div> -->
        </div>
    </div>

</section>