<section id="somePics" class="relative w-full flex justify-center px-5 md:px-10 mt-20 md:mt-16">

    <!-- container -->
    <div class="relative w-full max-w-custom1 py-14 px-5 md:px-10 rounded-xl flex flex-col items-center bg-mPink-400 text-white">

        <!-- sideBadge -->
        <div class="absolute top-6 md:top-10 left-0 w-20 h-10 bg-white">

            <!-- cir container -->
            <div class="absolute top-1/2 -translate-y-1/2 right-0 translate-x-1/2 w-full aspect-square bg-white rounded-full shadow-md p-2">
                <img src="/svg/brand/playtopiaBadgeLogo.svg" class="w-full" alt="">
            </div>
        </div>

        <div class="flex flex-col items-center">
            <span class="subheading txtWhite">Playtopia Cafe</span>
            <h2 class="w-full max-w-sm text-center">Our Slides <span class="font-Quicksand">&</span> Rides</h2>
        </div>

        <!-- img grid -->
        <div class="grid gap-10 grid-cols-1 md:grid-cols-4 w-full my-10">

            <!-- img -->
            <div class="relative w-full aspect-square rounded-xl overflow-hidden border-2">
                <img src="/img/slides-01.webp" class="w-full h-full object-cover" alt="">
            </div>

            <!-- img -->
            <div class="relative w-full aspect-square rounded-xl overflow-hidden border-2">
                <img src="/img/slides-02.webp" class="w-full h-full object-cover" alt="">
            </div>

            <!-- img -->
            <div class="relative w-full aspect-square rounded-xl overflow-hidden border-2">
                <img src="/img/slides-03.webp" class="w-full h-full object-cover" alt="">
            </div>

            <!-- img -->
            <div class="relative w-full aspect-square rounded-xl overflow-hidden border-2">
                <img src="/img/slides-04.webp" class="w-full h-full object-cover" alt="">
            </div>

        </div>

        <!-- view more btn -->
        <!-- <a href="#" class="text-black bg-white px-5 py-3 rounded font-bold flex group">
            View More
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ml-2 md:ml-4 group-hover:ml-7 transition-all">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
            </svg>
        </a> -->

    </div>

</section>