<section id="testimony" class="relative w-full flex justify-center px-5 md:px-10 mt-10 md:mt-16">

    <!-- container -->
    <div class="relative w-full max-w-custom1 grid grid-cols-1 md:grid-cols-5 gap-7 place-items-center                     border-4 rounded-xl bg-white bg-opacity-70 backdrop-blur px-7">
        
        <!-- heading text -->
        <div class="py-7 md:py-14">
            <span class="subheading">testimonials</span>
            <h2>Customer Feedbacks</h2>
        </div>
        <div class="relative w-full h-full text-center md:col-start-2 md:col-end-6 text-lg font-semibold /rounded /bg-gray-400 pb-5 md:py-10">
            <!-- Slider main container -->
            <div class="testimonialSwiper w-full h-full overflow-hidden">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper md:pl-10">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <p>It's really wonderful. The best on the net! It's really wonderful.</p>
                        <span>~Sushil</span>
                    </div>
                    <div class="swiper-slide">
                        <p>It's really wonderful. The best on the net! It's really wonderful.</p>
                        <span>~Sushil b</span>
                    </div>
                    <div class="swiper-slide">
                        <p>It's really wonderful. The best on the net! It's really wonderful.</p>
                        <span>~Sushil c</span>
                    </div>
                    <div class="swiper-slide">
                        <p>It's really wonderful. The best on the net! It's really wonderful.</p>
                        <span>~Sushil d</span>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div id="tS-pagei" class="swiper-pagination "></div>
            
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev -translate-x-full md:translate-x-0"></div>
                <div class="swiper-button-next translate-x-full md:translate-x-0"></div>

            </div>
        </div>

    </div>

</section>
