<section id="whatWeOffer" class="relative w-full flex justify-center px-5 md:px-10 mt-20 md:mt-16">

    <!-- container -->
    <div class="relative w-full max-w-custom1 pb-10 /md:p-0 flex flex-col md:flex-row    border-4 rounded-xl bg-white bg-opacity-70 backdrop-blur px-7">
        
        <!-- mob heading -->
        <div class="w-full flex flex-col md:hidden items-center text-center mb-10">
            <span class="subheading">what we offer</span>
            <h2 class="w-full max-w-lg">What Does <span class="high decoration-mYellow-400">PlayTopia Offer</span> to Justify your ward coming here</h2>
        </div>
        
        <!-- img -->
        <div class="w-full h-full flex items-center px-10">
            <div class="w-full flex">
                <div class="relative w-full animate-bounce-slow">
                    <img src="/svg/index/offerk1.svg" class="w-full" alt="">
                </div>
                <div class="relative w-full animate-bounce-slow" style="animation-delay: 1000ms;">
                    <img src="/svg/index/offerk2.svg" class="w-full" alt="">
                </div>
                <div class="relative w-full animate-bounce-slow">
                    <img src="/svg/index/offerk3.svg" class="w-full" alt="">
                </div>
            </div>
        </div>

        <!-- txt -->
        <div class="w-full h-full flex flex-col justify-center">
            <span class="hidden md:block subheading">what we offer</span>
            <h2 class="hidden md:block w-full max-w-lg">What Does <span class="high decoration-mYellow-400">PlayTopia Offer</span> to Justify your ward coming here</h2>

            <p class="w-full max-w-lg mt-5">PlayTopia offers a variety of programs and activities that help children learn and grow through play. We believe that play is the most natural way for children to learn, and we provide a safe and nurturing environment where children can explore their imaginations, develop their social and emotional skills, and make lifelong friends.</p>
        </div>
    </div>

</section>